body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}
a {
  text-decoration: none;
}
.top-menu {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #f3f7f9;
}
.main-navigation {
  background: #293449;
}
.top-menu ul {
  list-style: none;
}
.top-menu a {
  color: #ffffff;
}
.main-navigation a:hover {
  background: #212a3a;
}
.main-navigation a:focus {
  background: #161d29;
  opacity: 0.6;
}
.main-navigation input {
  border: none;
}


.logo {
  background: #ee3643;
}
a.logo:hover {
  background: #ca2c37;
}
a.logo:focus {
  background: #ba2732;
}
.checkout {
  background: #63a63e;
}
a.checkout:hover {
  background: #5fbb2d;
}
a.checkout:focus {
  background: #518534;
  opacity: 0.6;
}
.description {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}
.address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}
.address a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}
.user-navigation a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background: #ffffff;
}
.user-navigation a:hover {
  color: #ee3643;
}
.user-navigation a:focus {
  color: #000000;
  opacity: 0.3;
}
.site-navigation {
  list-style: none;
}
.site-navigation a {
  text-decoration: none;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #ffffff;
  background: #32425c;
}
.site-navigation a:hover {
  background: #293449;
}
.site-navigation a:focus {
  background: #1d2739;
  color: #a8abaf;
}
main {
  font-family: "Cuprum", Arial, sans-serif;
}
main ul {
  list-style: none;
}
main h3 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
main p {
  font-size: 13px;
  line-height: 24px;
}
.info ul {
  font-size: 18px;
  line-height: 20px;
}
.button {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background: #ee3643;
}
.button:hover {
  background: #ca2c37;
}
.button:focus {
  background: #ba2732;
}
footer ul {
  list-style: none;
}
footer p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
footer a, .footer-contacts, .footer-contacts a {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.footer-top {
  background: #32425c;
}
.footer-navigation-top a {
  color: #f1f5f7;
}
.footer-navigation-bottom a {
  color: #ffd180;
}
footer a:hover,
footer a:hover {
  text-decoration: underline;
}
footer a:focus,
footer a:focus {
  opacity: 0.5;
}
.footer-bottom {
  background: #293449;
}

.footer-bottom a {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}
.modal-login {
  background: #ffffff;
}
.modal-login label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}
.modal-login button {
  border: none;
  font-size: 14px;
  line-height: 18px;
}
/* catalog.html */
.user-navigation .small {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}
.navigation-panel {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}
.catalog-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background: #f2f6f8;
}
.filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}
.filter legend {
  font-weight: bold;
}
.filter button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  background: #ffffff;
  border: 1px solid #000000;
}
.products h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-transform: none;
  color: #000000;
}
.products span {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-decoration: line-through;
}
 .item a {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  background: #ee3643;
}
.item {
  text-align: center;
  border: 1px solid #e5e5e5;
  background: #ffffff;
}
.item:hover {
  box-shadow: -1px 24px 50px -4px rgba(0,0,0,0.75);
}
.catalog-button {
  list-style: none;

}
.catalog-button a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  border: 1px solid #e5e5e5;
  background: #ffffff;
}
.catalog-button a:hover {
  border: 1px solid #bdc6ca;
}
.catalog-button a:focus, .catalog-button a:active {
  border: 1px solid #ee3643;
}
.catalog-button .active {
  color: #ffffff;
  background: #ee3643;
}
.modal-login {
  box-shadow: -1px 24px 50px -4px rgba(0,0,0,0.75);
}
.modal-login p {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.modal-bottom {
  text-align: center;
  background: #f1f1f1;
}
.modal-login button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  background: #ffffff;
}
